@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");

@layer components {
  .black-keys {
    @apply  h-2/4 absolute w-3 sm:w-4 bg-black z-20 text-xs text-slate-400 cursor-pointer hover:bg-gray-800 duration-300
  }
  .white-keys {
    @apply flex flex-col justify-end h-full text-xs text-slate-400 cursor-pointer hover:bg-slate-100 duration-300
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
